__pycache__
**/__pycache__/
.vscode
Dockerfile
*.pyc
*.pyo
*.pyd
.Python
env
.tox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git
.gitignore
.pytest_cache
.travis.yml
docker-envs
burp_extension
burp_extension.py
tests
