# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# OsX
.DS_Store


# TplMap third party test-data
tests/env_*/lib/
tests/env_*/templates_c/

# Npm local modules
node_modules

# Jython
*.class

# Vim
# swap
.sw[a-p]
.*.sw[a-p]
# tags
tags
